<div class="container-home">
    <app-card
gameCapa="assets/tower-img.jpg"
gameLabel="Digital"
gameType="PC | PS4"
gamePreco="R$ 299,99"
></app-card>
<app-card
gameCapa="assets/cod-img.jpg"
gameLabel="Exclusivo"
gameType="PC | PS5"
gamePreco="R$ 399,99"
></app-card>

<app-card
gameCapa="assets/fc24-img.jpg"
gameLabel="New"
gameType="PC | PS5"
gamePreco="R$ 167,70"
></app-card>

<app-card
gameCapa="assets/km-img.jpg"
gameLabel="Oferta"
gameType="PC | PS5"
gamePreco="R$ 199,99"
></app-card>
</div>


