*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2,0,36,1) 0%, rgb(9,9,121,1) 35%, rgba(9,9,121,1) 100%);
}